/**:
  ros__parameters:
    moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

    moveit_simple_controller_manager:
      controller_names:
        - arm_controller
        - gripper_controller

      arm_controller:
        type: FollowJointTrajectory
        action_ns: follow_joint_trajectory
        default: true
        joints:
          - arm_joint_1
          - arm_joint_2
          - arm_joint_3
          - arm_joint_4
          - arm_joint_5
          - arm_joint_6

      gripper_controller:
        type: GripperCommand
        action_ns: gripper_cmd
        default: true
        joints:
          - gripper_left_joint
