<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lidar" params="suffix parent xyz rpy">
    <link name="lidar_link_${suffix}">
      <visual>
        <geometry>
          <cylinder radius="0.03" length="0.04" />
        </geometry>
        <material name="lidar_blue">
          <color rgba="0.1 0.1 0.4 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.03" length="0.04" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.2" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      </inertial>
    </link>

    <joint name="lidar_joint_${suffix}" type="fixed">
      <parent link="${parent}" />
      <child link="lidar_link_${suffix}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <gazebo reference="lidar_link_${suffix}">
      <sensor name='gpu_lidar' type='gpu_lidar'>
        <topic>scan</topic>
        <update_rate>10</update_rate>
        <gz_frame_id>lidar_link_${suffix}</gz_frame_id>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>-3.14159</min_angle>
              <max_angle>3.14159</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>12.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <always_on>true</always_on>
        <visualize>true</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
